DATABASE_URL=postgresql://user:password@localhost:5432/dbname
PORT=5000
JWT_SECRET=your-jwt-secret
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=10
NODE_ENV=development
DATABASE_SSL=false
CORS_ORIGIN=http://localhost:5173,http://localhost:3000
FRONTEND_URL=http://localhost:5173
HOST=0.0.0.0
RESEND_API_KEY=re_PQCkmrVk_NYt5M4psCXbSxjG2kPiWZViP
